@model Cart

@{
    ViewData["Title"] = "View Cart";
}

@{
    Layout = "_StoreLayout";
}

<br />
<h2 style="text-align: center; margin-bottom: 40px; color: orange;">Seu Carrinho</h2>
<table class="table">
    <thead>
        <tr>
            <th>PRODUTO</th>
            <th>PREÇO</th>
            <th>QUANTIDADE</th>
            <th>SUBTOTAL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Game.Title</td>
                <td>@item.UnitPrice.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>R$ @(item.Quantity * item.UnitPrice)</td>
                <td>
                    <a asp-action="RemoveFromCart" asp-route-cartItemId="@item.Id" class="btn btn-danger">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h3 style="color: orange;">Total: @Model.Total.ToString("C")</h3>
<a asp-action="Checkout" class="btn btn-success">Finalizar Compra</a>
