@model IEnumerable<UltraStore.Models.Publisher>

@{
    ViewData["Title"] = "Publisher Index";
}

<h1>Publishers Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComercialEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoundationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComercialEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> 
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
